h2
.counter
	font-size 4rem
	
	span.glyphicon
		font-size 3rem

#progress-container
	width 140px
	height 140px
	margin 2rem auto
	position relative
	
	.progress-label
		position absolute
		left 50%
		top 50%
		padding 0px
		margin 0px
		transform translate(-50%, -50%)
		font-size 4rem
		color #000

.controls button
		width 8rem

.pomodoros
	margin 2.5rem auto
	text-align left
	width (4*30 + 4*10)px
	
	.pomodoro
		display inline-block
		width 30px
		height 30px
		margin 5px
		background-image url('../../img/tomato.png')
